h2 {
    font-size: 1.5em;
}

.amazon-image {
    height: auto;
    width: 40em;
}

.form-width {
    width: 13em;
}

.my-border {
    border-radius: 25px;
    background: #FFCE47;
    padding: 20px;
}